﻿@page
@model SnackHubUI.Pages.CurrencyAdminModel
@{
    ViewData["Title"] = "CurrencyAdmin";
}

<h1>CurrencyAdmin</h1>

<div class="row">
    <div class="col-6">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model.Change)
                {
                    <tr>
                        <td>@row.Name</td>
                        <td>@row.Amount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-6">

        <form method="post">
            <input type="hidden" asp-for="ChangeToAdd.Name" value="Nickle" />
            <input type="hidden" asp-for="ChangeToAdd.Amount" value="0.05" />
            <button type="submit" class="btn btn-primary">Nickle</button>
        </form>
        <br />

        <form method="post">
            <input type="hidden" asp-for="ChangeToAdd.Name" value="Dime" />
            <input type="hidden" asp-for="ChangeToAdd.Amount" value="0.10" />
            <button type="submit" class="btn btn-primary">Dime</button>
        </form>
        <br />

        <form method="post">
            <input type="hidden" asp-for="ChangeToAdd.Name" value="Quarter" />
            <input type="hidden" asp-for="ChangeToAdd.Amount" value="0.25" />
            <button type="submit" class="btn btn-primary">Quarter</button>
        </form>

    </div>
</div>
