﻿@page
@model SnackHubRazorUI.GenerateAdminModel
@{
    ViewData["Title"] = "GenerateAdmin";
}

<h1>Generate Admin</h1>

<h2>Role Created For User: @Model.RoleCreated</h2>
<h2>Admin UserId: @Model.AdminUserId</h2>