﻿@page
@model SnackHubRazorUI.SnackHubModel
@{
    ViewData["Title"] = "Snack Hub";
}
<!-- https://getbootstrap.com -->

<h1>Snack Hub</h1>
<h5>Snack Price: @String.Format("{0:C}", Model.SnackPrice)</h5>
<h5>Amount Inserted: @String.Format("{0:C}", Model.AmountInserted)</h5>

@if (String.IsNullOrWhiteSpace(Model.ErrorMessage) == false)
{
    <p class="text-danger">
        @Model.ErrorMessage
    </p>
}

<div class="row">
    <div class="col-sm-8">
        @foreach (var snack in Model.SnackOptions)
        {
            <div class="row">
                <div class="col-sm-8 snack-tab bg-secondary text-white">
                    @snack.SnackName
                </div>
                <div class="col-sm-4">
                    <form method="post" asp-page-handler="Snack">
                        <input type="hidden" asp-for="UserId" />
                        <input type="hidden" asp-for="SelectedSnack.SnackName" value="@snack.SnackName" />
                        <input type="hidden" asp-for="SelectedSnack.OccupiedSlot" value="@snack.OccupiedSlot" />
                        <button type="submit" class="btn btn-primary btn-snack">Buy</button>
                    </form>
                </div>
            </div>
        }
    </div>
    <div class="col-sm-4">
        @Html.Raw(Model.OutputText)
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <h3>Deposit Change</h3>
        <div class="btn-group" role="group">
            <form method="post">
                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="Deposit" value="0.05" />
                <button type="submit" class="btn btn-primary">@String.Format("{0:C}", 0.05)</button>
            </form>
            <form method="post">
                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="Deposit" value="0.10" />
                <button type="submit" class="btn btn-primary">@String.Format("{0:C}", 0.10)</button>
            </form>
            <form method="post">
                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="Deposit" value="0.25" />
                <button type="submit" class="btn btn-primary">@String.Format("{0:C}", 0.25)</button>
            </form>
        </div>
    </div>
    <div class="col-sm-4">
        <h3>Cancel Sale</h3>
        <form method="post" asp-page-handler="Cancel">
            <input type="hidden" asp-for="UserId" />
            <button type="submit" class="btn btn-danger">Refund Money</button>
        </form>
    </div>
</div>